@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.error {
	@apply text-red-800 font-light p-2;
}

.white {
	@apply text-white;
}

.btn {
	@apply border rounded p-2 hover:font-bold hover:bg-white hover:text-black hover:p-3 ease-in-out duration-150;
}

.nav {
	@apply hover:font-bold p-1 text-xl hover:underline hover:decoration-4;
}

.hover {
	@apply hover:underline hover:decoration-4 hover:font-bold;
}

.focus {
	@apply focus:underline focus:outline-none focus:font-bold focus:decoration-4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#email {
	@apply focus:outline-stone-900;
}

#passwd {
	@apply focus:outline-stone-900;
}

.outline-error {
	@apply outline outline-1 outline-red-500 transition-all duration-75 placeholder:text-red-600;
}