@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,300;1,400&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}